:root {
	--main-color: rgb(3, 0, 0);
	--second-color: rgb(255, 253, 253);
	--font-family-main: "Poppins", sans-serif;
	--font-size--main: 18px;
	--font-size--medium: 24px;
	--font-size--large: 30px;
  --font-size--x-large: 36px;
	--font-weight--main: 400;
	--font-weight--bold: 700;
	--font-line-height: 24px;
	--border-radius: 30px;
  --border-bottom: 3px red solid;
	/* --border-shadow: 0 5px 30px rgba(0, 0, 0, 0.1); */
}

* {
	margin: 0;
	padding: 0;
}


.container {
	font-family: var(--font-family-main);
	color: var(--main-color);
	font-size: var(--font-size--main);
	font-weight: var(--font-weight--main);
}

.heading {
  margin: 30px 0 30px 0;
  font-family: var(--font-family-main);
}

.heading--x-large {
  font-size: var(--font-size--x-large);
  font-weight: var(--font-weight--bold);
}

.heading--medium {
  font-size: var(--font-size--medium);
}


.heading__colorful {
  color: rgb(212, 20, 20);
}


/* button */


.btn-primary  {
  background-color: black;
  border-color: black;
}

/* landing */

.jumbotron {
  position: relative;
}


.container__img {
  width: 40%;
}

.container__img img {
  width: 400px;
  height: 350px;
  border-radius: 50%;
  position: absolute;
  top: 45%;
  left: 40%;
}


.footer {
  margin: 0 auto;
  height: 150px;
  background-color: var(--main-color);
  color: var(--second-color);
  display: flex;
}

.footer__text {
  align-self: flex-end;
  margin-left: 30px;
  margin-bottom: 20px
}

.nav__link {
  background-color: blue;
  align-self: center;
  justify-self: center;

  color: var(--main-color);
  font-size: var(--font-size--medium);
}


/* edit company */

/* .modal-body  label {
  font-weight: bold;
} */

/* .edit-company {
  margin-bottom: 20px;
} */

/* .detail-container {
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke

} */

/* .detail-header {
  margin-top: 50px;
  text-align: center;
} */

/* .detail-header span {
  font-weight: bold;
  color: burlywood;
} */

/* .detail-page {
  text-align: center;
  width: 800px;
  background-color: white;
} */

/* company KRS */

/* .companyInputKRS {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
} */


/* usefulLinks social */

.social {
  margin-top: 60px;

}
.social__icon {
  margin: 30px;

}

.social__img {
  width: 170px;
  height: 50px;
  display: inline-block;
  vertical-align: text-top;
}

.social__img--big {
  width: 200px;
}

.social__img--small {
  width: 100px;
}


/* company Input */



/* .companyKRSAbout {
  display: flex;
  background-color: white;
  margin: 30px 0 0px 0;
} */
/* .companyKRSAbout a {
  margin: 0 auto;
} */

/* .companyKRSInput {
  margin: 100px 0;
  background-color: white
} */

/* .companyKRSInput span {
  color: #ff3e4e;
  font-weight: bold;
} */

/* .companyKRSInput h3 {
  text-align: center;
  font-size: 2.4em;
} */

.content {
  margin-top: 100px;
  height: 420px;
  background-image: url("assets/img/company_input_logo.jpg");
  background-repeat: no-repeat; 
  background-size: cover;
  background-position: center 45%;
  text-align: center;
}



.form-field {
  width: 35%;
  border-radius: 30px;
  background-color: white;
  text-align: center;
  font: 400 20px/40px "Open Sans", Helvetica, Tahoma, sans-serif;
}

.form-field--select {
  text-align: center;
  margin: 10px 30px;
  width: 16%;
}

.form-label {
  margin: 15px 0 0 35px;
  font-size: var(--font-size--medium);
  font-weight: var(--font-weight--bold);
}

.form-nav {
  margin-top: 20px;
}



/* .companyKRSInput {
  text-align: center;
  height: 500px;
  border-radius: 30px;
  background-image: url("assets/img/hands.jpg");
} */



/* #root .container-input {
  background-image: url("assets/img/companyInput.jpg");
  border-radius: 30px;
} */


/* .container-input {

  height: 400px;
  display: flex;
  justify-content: center;
  font-size: 1.1em;
  font-weight: bold;

} */




/* form.container-input-form {
  margin-top: 30px;
  border-radius: 30px;
  opacity: 0.7;
  width: 500px;
  height: 300px;
  background-color: white;
  box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
} */

/* .numberKRS {
  margin-top: 20px;
  text-align: center;
  font-size: 1.1em;
} */
/* .numberKRS input {
  width: 35%;
  border-radius: 30px;
  background-color: white;
  text-align: center;
} */



/* .registerKRS {
  margin-top: 20px;
  text-align: center;
  font-size: 1.1em;
} */

/* .registerKRS select {
  text-align: center;
  margin: 10px 30px;
  width: 15%;
  border-radius: 30px;
  background-color: white;
} */

/* #register {
  background-color: ghostwhite;
  width: 33%;
  margin:  15px 20px;
  font-size: 1.1em;
} */

/* div.searchKRS {
  display: flex;
  justify-content: center;
  margin-top: 20px;
} */

