body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.modal-body  label {
  font-weight: bold;
}

.edit-company {
  margin-bottom: 20px;
}

.detail-container {
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke

}

.detail-header {
  margin-top: 50px;
  text-align: center;
}

.detail-header span {
  font-weight: bold;
  color: burlywood;
}

.detail-page {
  text-align: center;
  width: 800px;
  background-color: white;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
